@model Spice.Models.ViewModels.OrderDetailsCart

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    @if (Model.listCart.Count > 0)
    {
        <br />
        <input id="userId" asp-for="@Model.listCart[0].ApplicationUserId" hidden />
        <div class="backgroundWhiteBorder">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6">
                            <i class="fa fa-shopping-cart"></i> &nbsp;
                            Order Summary
                        </div>
                        <div class="col-6 text-right">
                            <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-6 pb-4">
                                    <div class="row">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-info">PickUp Details:</span>
                                        </h4>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="@Model.OrderHeader.PickupName" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Phone</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="@Model.OrderHeader.PhoneNumber" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Date</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="@Model.OrderHeader.PickUpDate" id="datepicker" value="" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Time</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="@Model.OrderHeader.PickUpTime" id="timepicker" value="" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Additional Instructions: </label>
                                        </div>
                                        <div class="col-9">
                                            <textarea asp-for="@Model.OrderHeader.Comments" style="height:100px;" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-5 offset-lg-1">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-info">Order Summary:</span>
                                        </h4>
                                        <ul class="list-group mb-3">
                                            @{ var total = 0.0;}

                                            @foreach (var details in Model.listCart)
                                            {
                                                <li class="list-group-item d-flex justify-content-between">
                                                    <div>
                                                        <h6 class="my-0">@details.MenuItem.Name</h6>
                                                        <small class="text-muted">Quantity: @details.Count</small>
                                                    </div>
                                                    <span class="text-muted">$@(details.MenuItem.Price * details.Count)</span>
                                                    @{ total += (details.MenuItem.Price * details.Count); }
                                                </li>
                                            }
                                            @if (Model.OrderHeader.CouponCode != null)
                                            {
                                                <li class="list-group-item d-flex justify-content-between">
                                                    <div class="text-success">
                                                        <h6 class="my-0">Promo Code</h6>
                                                        <small class="text-success">@Model.OrderHeader.CouponCode</small>
                                                    </div>
                                                    <span class="text-success">-$@(total - Model.OrderHeader.OrderTotal)</span>
                                                </li>
                                            }
                                            <li class="list-group-item d-flex justify-content-between bg-light">
                                                    <small class="text-info">Total (USD)</small>
                                                <strong class="text-info">$@(Model.OrderHeader.OrderTotal)</strong>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="backgroundWhiteBorder"> No items added to the shopping cart...</div>
    }
</form>

@section Scripts{
    <script>
        $(function () {
            $("#datepicker").datepicker({ minDate: 0, maxDate: "+1W" });
        });
    </script>
}