@model IEnumerable<Spice.Models.ViewModels.OrderDetailsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info"> Category List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial" />
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.OrderHeader.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.OrderHeader.PickupName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.OrderHeader.ApplicationUser.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.OrderHeader.PickUpTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.OrderHeader.OrderTotal)
                    </th>
                    <th>
                        Total Items
                    </th>
                  <th></th>
                    
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.OrderHeader.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.OrderHeader.PickupName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.OrderHeader.ApplicationUser.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.OrderHeader.PickUpTime)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.OrderHeader.OrderTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.OrderDetails.Count)
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success anchorDetail" data-id="@item.OrderHeader.Id" data-toggle="modal">
                            <i class="far fa-list-alt"></i> Details
                        </button>
                    </td>
                </tr>
                }
            </table>
        }
        else
        {
            <p>No category exists...</p>
        }
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light justify-content-center">
                <h5 class="modal-title">Order Details</h5>
            </div>
            <div class="modal-body justify-content-center" id="myModalContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="width:20%" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>